.header{
    background-color: rgb(rgb(55, 21, 97), rgb(0, 0, 0), rgb(55, 21, 97));
    background-position: center;
    border: 2px solid black;
    margin: 12px;
    color: aliceblue;
    text-align: center;
}
