body{
    background-image: url(record.png);
    background-repeat: repeat;
    background-position: left;
    background-size: 5%;
    margin: 0;
}
.header{
    background-image: linear-gradient(to right, rgb(83, 22, 116), rgb(0, 0, 0), rgb(83, 22, 116));
    background-position: center;
    border: 2px solid black;
    color: aliceblue;
    text-align: center;
}
.main{
    background-image: linear-gradient(to right, rgb(175, 172, 172), rgb(239, 213, 213), rgb(175, 172, 172));
    background-position: center;
    border: 2px solid black;
    padding: 1em;
    text-align: center;
    text-transform: capitalize;
}
